# Task 1

In [6]:
import pandas as pd

In [9]:
tickets = pd.read_csv("data_safe_copy.csv",index_col=0)

In [16]:
tickets.shape

(500, 4)

In [17]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, TK-0001 to TK-0500
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   opened_at           500 non-null    object
 1   category            500 non-null    object
 2   priority            500 non-null    object
 3   resolution_minutes  450 non-null    object
dtypes: object(4)
memory usage: 19.5+ KB

In [18]:
tickets.head()

                  opened_at   category priority resolution_minutes
ticket_id
TK-0001    2024-03-01 09:00    billing      low                 45
TK-0002    2024-03-01 09:30    account   medium                 30
TK-0003    2024-03-01 10:00  technical     high                 75
TK-0004    2024-03-01 10:30    billing      low                NaN
TK-0005    2024-03-01 11:00    account   medium            unknown

# Task 2

In [20]:
tickets['opened_at'] = pd.to_datetime(tickets['opened_at'])

In [22]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, TK-0001 to TK-0500
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   opened_at           500 non-null    datetime64[ns]
 1   category            500 non-null    object
 2   priority            500 non-null    object
 3   resolution_minutes  450 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 19.5+ KB

In [23]:
tickets.isnull().sum()

opened_at              0
category               0
priority               0
resolution_minutes    50
dtype: int64

In [31]:
tickets['category']=tickets['category'].str.strip().str.lower()

In [32]:
tickets['priority']=tickets['priority'].str.strip().str.lower()

In [34]:
print(tickets['category'].unique())
print(tickets['priority'].unique())

['billing' 'account' 'technical']
['low' 'medium' 'high']

# Task 3

In [35]:
tickets["resolution_minutes"] = pd.to_numeric(tickets["resolution_minutes"], errors="coerce")

In [36]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, TK-0001 to TK-0500
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   opened_at           500 non-null    datetime64[ns]
 1   category            500 non-null    object
 2   priority            500 non-null    object
 3   resolution_minutes  400 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 35.7+ KB

In [38]:
tickets.isnull().sum()

opened_at               0
category                0
priority                0
resolution_minutes    100
dtype: int64

In [39]:
assert tickets["resolution_minutes"].isnull().sum() == 100
print("True!")

True!

# Task 4

In [40]:
tickets_clean = tickets.dropna(subset=['resolution_minutes'])

In [42]:
tickets_clean

                    opened_at   category priority  resolution_minutes
ticket_id
TK-0001   2024-03-01 09:00:00    billing      low                45.0
TK-0002   2024-03-01 09:30:00    account   medium                30.0
TK-0003   2024-03-01 10:00:00  technical     high                75.0
TK-0006   2024-03-01 11:30:00  technical     high                60.0
TK-0007   2024-03-01 12:00:00    billing     high                15.0
...                       ...        ...      ...                 ...
TK-0496   2024-03-01 11:30:00  technical     high                60.0
TK-0497   2024-03-01 12:00:00    billing     high                15.0
TK-0498   2024-03-01 12:30:00    account      low                90.0
TK-0499   2024-03-01 13:00:00  technical   medium               120.0
TK-0500   2024-03-01 13:30:00    billing   medium                25.0

[400 rows x 4 columns]

In [45]:
(tickets["resolution_minutes"] - tickets_clean["resolution_minutes"]).unique()

array([ 0., nan])

In [46]:
print("Unique Categories:", tickets_clean["category"].unique())
print("Unique Priorities:", tickets_clean["priority"].unique())

Unique Categories: ['billing' 'account' 'technical']
Unique Priorities: ['low' 'medium' 'high']

In [47]:
print(f"Records before cleaning: {len(tickets)}")
print(f"Records after cleaning: {len(tickets_clean)}")
print(f"Total rows removed: {len(tickets) - len(tickets_clean)}")

Records before cleaning: 500
Records after cleaning: 400
Total rows removed: 100

# Task 5

In [48]:
dict_ = {"total_records":len(tickets),
         "clean_records": len(tickets_clean),
         "missing_resolution":tickets["resolution_minutes"].isna().sum(),
         "avg_resolution": tickets_clean["resolution_minutes"].mean(),
         "max_resolution": tickets_clean["resolution_minutes"].max(),                        
}

In [50]:
dict_

{'total_records': 500,
 'clean_records': 400,
 'missing_resolution': 100,
 'avg_resolution': np.float64(57.5),
 'max_resolution': 120.0}

In [52]:
print("Quality Summary:")
for key, value in dict_.items():
    print(f"{key}: {value}")

is_verified = (dict_["clean_records"] + dict_["missing_resolution"]) == dict_["total_records"]

print(f"\nVerification (Clean + Missing == Total): {is_verified}")

Quality Summary:
total_records: 500
clean_records: 400
missing_resolution: 100
avg_resolution: 57.5
max_resolution: 120.0

Verification (Clean + Missing == Total): True